@import url(https://fonts.googleapis.com/css?family=Lato);

html {
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  overflow-x: hidden;

}

body {
  margin:0;
  padding:0;
}
#wrapper {
  font-size: 1.35em;
  font-family: 'Lato', Helvetica, Arial;
}

#welcome-section {
  display: flex;
  flex-direction:column;
  height: 100vh;
  width: 100vw;
  /* margin-top:8vh;
  margin-bottom:8vh; */
  align-items:center;
  justify-content:center;
   /* background-image: linear-gradient(to right, white , #ADD8E6); */
  background-color: #ADD8E6;
  
}
#welcome-section a {
    text-decoration:none;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

#welcome-section a:hover {
  border-color:black;
}


.description {
  padding:3%;
  width:30vw;
  /* display:flex; */
  /* align-content: center; */
}

#description {
  display:flex;
  background-color: azure;
  overflow:auto;

}
#descriptionLeft {
  margin-right: 4vw;
}

#descriptionRight {
  margin-left: 4vw;
}


#main {
  display:flex;
}

header {
  display:flex;
  width:100%;
  position:fixed;
  top:0px;
  left:0px;
  background: #eee;
  height:8vh;
}

#name {
  display: flex;
  align-items: center;
  padding:2%;
  width: 60vw;
}

#name h1 {
  font-size:2em;
}

#name a {
  text-decoration: none;
  padding-left: 3%;
  border-bottom: 2px solid transparent;
  transition: .5s;
}
#name a:hover {
  border-color: black;
}

nav {
  align-content: flex-end;
  width:100%;

}

nav ul {
  list-style-type:none;
  text-align: end;
  align-content: flex-end;
  /* top:4vh; */
}
nav li {
  align-content: flex-end;

  display:inline;
  vertical-align: middle;

}
nav a {

  display: block;
  float:right;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  transition:  .5s;
  /* padding-left:1.7rem; */
  padding-right:1.8rem;
  font-size: 1.3em;
}
nav a:hover {
  border-color:black;
}

#projects {
 width:100vw;
 /* background-image: linear-gradient(to right, #bec0c4 , #324ea8); */
 background-color: antiquewhite;
 /* background-color: white; */
 text-align:center;
  padding-top: 8vh;
  height:92vh;

    overflow:auto;


  
}

.tile {


  display:flex;
  justify-content:center;
}

.project-tile {
  border: 2px solid black;
  text-align:center;
  margin: 10px;
  display:flex;
  flex-direction:column;
  width: 25%;

  background-color: white;
  padding-left:10px;
  padding-right:10px;
  text-decoration:none;
  
  color:black;
  overflow:auto;
  -webkit-overflow-scrolling: touch;

  transition: background-color 0.5s ease;


  
}


#projects a:hover{
  transition: 0.5s;

  background-color: #bec0c4;
}


.project-image {

  height: auto; 
  width: 100%; 
  display: block;
  max-width: 300px; 
  max-height: 300px;


  padding-bottom: 5px;


}

#contact {
  background-color: azure;
  padding-top:8vh;
  text-align:center;
  height:92vh;
  width: 100vw;
}

#contact a {
  text-decoration: none;
  color: #324ea8;
  border-bottom: 2px solid transparent;
  transition:  .5s;
}

#contact a:hover {
  border-color: black;
}

@media (max-width: 1025px) {
  #welcome-section h1 {
    display: none;
  }
}
