html {
  scroll-behavior: smooth;
  margin:0;
  padding:0;
}

body {
  margin:0;
  padding:0;
}
#wrapper {
  font-size: 1.2rem;
  font-family: Helvetica;
}

#welcome-section {
  display: flex;
  flex-direction:column;
  height: 100vh;
  width: 100vw;
  align-items:center;
  justify-content:center;
   background-image: linear-gradient(to right, white , #ADD8E6);
  
}
#welcome-section a {
    text-decoration:none;
    /* border: 2px solid black;
    color: black;
  padding: 5px; */
}

#description {
  margin-left: 25vw;
  margin-right: 25vw;
}

#main {
  display:flex;
}

nav {
  position:fixed;
  top:0px;
  left:0px;
  background: #eee;
  width:100vw;
  height:8vh;
  
  
}

nav ul {
  list-style-type:none;
  text-align:center;
}
nav li {
  display:inline-block;
}
nav a {
  text-decoration: none;
  color: black;

  
  border-bottom: 2px solid transparent;
  transition:  .5s;
  padding-left:1.7rem;
  padding-right:1.7rem;

  font-size: 1.5rem;
}
nav a:hover {
  border-color:black;
}

#projects {
 width:100vw;
 background-image: linear-gradient(to right, #bec0c4 , #324ea8);
 text-align:center;
  padding-top: 8vh;
  height:92vh;

    overflow:auto;


  
}

.tile {


  display:flex;
  justify-content:center;
}

.project-tile {
  border: 2px solid black;
  text-align:center;
  margin: 10px;
  display:flex;
  flex-direction:column;
  width: 25%;

  background-color: white;
  padding-left:10px;
  padding-right:10px;
  text-decoration:none;
  
  color:black;
  overflow:auto;
  -webkit-overflow-scrolling: touch;

  transition: background-color 0.5s ease;


  
}


#projects a:hover{
  transition: 0.5s;

  background-color: #bec0c4;
}


.project-image {

  height: auto; 
  width: 100%; 
  display: block;
  max-width: 300px; 
  max-height: 300px;


  padding-bottom: 5px;


}

#contact {
  background-color: azure;
  padding-top:8vh;
  text-align:center;
  height:92vh;
  width: 100vw;
}

#contact a {
  text-decoration: none;
  color: #324ea8;
  border-bottom: 2px solid transparent;
  transition:  .5s;
}

#contact a:hover {
  border-color: black;
}



