html {
  scroll-behavior: smooth;
}
#wrapper {
  font-size: 1.2rem;
  font-family: Helvetica;
}

#welcome-section {
  display: flex;
  flex-direction:column;
  height: 75vh;
  width: 100vw;
  align-items:center;
  justify-content:center;
   background-image: linear-gradient(to right, white , #ADD8E6);
  
}
#welcome-section a {
    text-decoration:none;
    /* border: 2px solid black;
    color: black;
  padding: 5px; */
}

#description {
  margin-left: 25vw;
  margin-right: 25vw;
}

#main {
  display:flex;
}

nav {
  position:fixed;
  top:0px;
  left:0px;
  background: #eee;
  width:100%;
  
  
}
nav a {
  text-decoration: none;
  color: black;
  display:block;
  float:right;
  
  padding:1.7rem;
  
  font-size: 1.3rem;
}

#projects {
 width:100vw;
 background-image: linear-gradient(to right, #bec0c4 , #324ea8);
 text-align:center;
  padding-top: 5px;
  padding-bottom: 5px;

  
}

#tiles {
    display:flex;
  justify-content:center;
}

.project-tile {
  border: 2px solid black;
  text-align:center;
  margin: 10px;
  display:flex;
  flex-direction:column;
  width: 25%;
  text-align: center;
  align-content: center;

  background-color: white;
  padding-left:10px;
  padding-right:10px;
  text-decoration:none;
  
  color:black;
}

#projects a:hover{
  transition: 0.3s;

  background-color: #bec0c4;
}


.project-image {
  height:70%;
  width:85%;
  padding-bottom: 5px;
}

#contact {
  text-align:center;
}



